services:
  web:
    build:
      context: ./front_end/
      dockerfile: "Dockerfile"
    ports:
      - "8501:8501"
    develop:
      watch:
        - action: sync
          path: ./front_end/
          target: /web
          ignore:
            - ./front_end/.venv/
        - action: rebuild
          path: ./front_end/pyproject.toml
    networks:
      - back_end
      - front_end
  webservice:
    build:
      context: ./back_end/
      dockerfile: "Dockerfile"
    ports:
      - "8000:8000"
    depends_on:
      database:
        condition: service_started
        required: true
        restart: true
    develop:
      watch:
        - action: sync
          path: ./back_end/
          target: /webserver
          ignore:
            - ./back_end/.venv/
        - action: rebuild
          path: ./back_end/pyproject.toml
    networks:
      - back_end
      - front_end
    volumes:
      - service_log:/var/log/streamfast/log
  database:
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    restart: "always"
    shm_size: 256mb
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASS: ${POSTGRES_PASS}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - back_end
    volumes:
      - db_data:/var/lib/streamfast/db_data

networks:
  front_end:
    driver: "bridge"
  back_end:
    driver: "bridge"

volumes:
  service_log:
  db_data:
